*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
   
}
.head  {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    gap: 60px;
}
.logo img{
    margin: 20px 0 10px 60px;
    height: 30px;
}
.btn button{
    margin-left: 350px;
    border-radius: 8px;
    background-color: purple;
    /* color: white; */
    padding: 7px;
    padding-inline: 9px;
    border-color: purple;
    cursor: pointer;
}
.head ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.head ul a{
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../Images/bg.png);
    background-size: cover;
    height: 88.6vh;
    

}
.title{
    margin-top: 10%;
    font-weight: 900;
    font-size: 50px;
     
}
.subtitle{
    font-weight: bold;
    font-size: 18px;
}
.btn2{
    margin-top: 5%;
    border-radius: 8px;
    background-color: purple;
    /* color: white; */
    padding: 15px;
    padding-inline: 15px;
    border-color: purple;
    font-weight: 900;
    cursor: pointer;
}